.dashboard {
    &__header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__new {
        background: #F1F3F4;
        padding: 2.5rem 2rem;
    }
    &__item {
        width: 170px;
        height: 140px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dadce0;
        border-radius: 4px;
        transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        &:hover {
            border-color: #31ac70;
            color: #31ac70;
        }
    }
    &__item-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__table {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        margin-bottom: 20px;
        &:first-child {
            margin-bottom: 30px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.dashboard__row--table {
            padding: 1.5rem;
            border-radius: 20px;
            max-width: 850px;
            cursor: pointer;
            .dashboard__row-title {
                color: #000;
                text-decoration: none;
            }
            &:hover {
                background: #e6f4ea;
            }
        }
    }
    &__row-title {
        font-size: 1.5rem;
    }

}