@import '../utils/mixins';
@import '../utils/variables';

.excel__header {
    display: flex;
    justify-content: space-between;
    &-input {
        font-size: 2rem;
        padding: 0.5rem;
    }
    &-button {
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0;
        }
        .material-icons {
            font-size: 3rem;
        }
        &--access {
            color: rgb(0, 177, 0);
            transition: color 0.3s ease-in-out;
            &:hover {
                color: rgb(0, 199, 0);
            }
        }
        &--remove {
            color: rgb(196, 0, 0);
            transition: color 0.3s ease-in-out;
            &:hover {
                color: rgb(231, 0, 0);
            }
        }
    }
}